@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
$OpenSans: "Open Sans", sans-serif;
$brown: #f3b66c;
$brownFonce: #7f7770;

body {
  margin: 0;
  padding: 0;
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) / 0);
  padding-left: calc(var(--bs-gutter-x) / 0);
  margin-top: var(--bs-gutter-y);
}

@mixin button($color, $typo, $width) {
  width: $width;
  padding: 5px 15px;
  border-radius: 30px;
  border: none;
  background-color: $color;
  color: $typo;
}

%flexbox {
  display: flex;
  justify-content: center;
  align-items: left;
}

@mixin carre($color) {
  background-color: $color;
  height: 1151px;
  @extend %flexbox;
  flex-direction: column;
  padding: 50px;
}
