.bgBrown {
  height: 900px;
  background-color: $brownFonce;
}
.hikone {
  padding: 190px;
}
.dech-1 {
  background-image: url("../images/dechiréUn.png");

  height: 190px;
}
.dech-2 {
  background-image: url("../images/dechire-haut.png");

  height: 190px;
}
